backend:
  name: git-gateway

media_folder: "images/téléversements"
frontmatter_delimiter: "\n"

collections:
  - name: pages
    label: Pages
    folder: pages
    create: false
    fields:
      - label: titre
        name: titre
        widget: string
 
