<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Acupuncture Dannie Goulet</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for("index") }}">Accueil</a></li>
            <li><a href="{{ url_for("page", path='votre-acupuncteur') }}">Votre acupuncteur</a></li>
            <li><a href="{{ url_for("page", path='acupuncture') }}">Acupuncture</a></li>
            <li><a href="{{ url_for("page", path='mes-services') }}">Mes services</a></li>
            <li><a href="{{ url_for("page", path='grossesse-et-fertilité') }}">Grossesse et fertilité</a></li>
        </ul>
    </nav>
{% block content %}
{% endblock content %}
</body>
</html>